* {
    bg:             #111318;
    surface:        #1a1d24;
    surface-alt:    #242934;

    text:           #abb5bd;
    text-muted:     rgba(220,220,220,0.72);

    accent:         #575147;
    accent-alt:     #D2AA57;

    border:         rgba(255,255,255,0.08);

    urgent:         #2A3E41;

    black:          #111111;
}
