window-rule {
    match app-id="flameshot"
    open-floating true
}

window-rule {
    match app-id="pavucontrol"
    open-floating true
}

window-rule {
    match title="Picture-in-Picture"
    open-floating true
}
