layout {
    border {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "rgba(255,255,255,0.12)"
    }

    focus-ring {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "rgba(255,255,255,0.12)"
    }
}
